.cell {
  font-size: x-large;
  padding: 0.5em;
  height: 20px;
  flex: 1;
  border-top: 0.5px solid black;
  border-left: 0.5px solid black;
  overflow: hidden;


}
.row {
  display: flex;
  flex-flow: row nowrap;
}
.table {
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
}
.btn {
  font-size: x-large;
  padding: 0.5em;
  height: 50px;
  flex: 1;
  border-left: 0.5px solid black;
  overflow: hidden;
}
.btns {
  display: flex;
  flex-flow: row nowrap;
  border-top: 0.5px solid black;
  border-right: 0.5px solid black;
}
