.tableTools{
  display:flex;
  flex-direction:row;
}
.bigPctr{
  width:100%;
  height:250%;
  opacity: .95;
  background-color: black;
  position:absolute;
  z-index:9999
}

.search{
  height: 30px;
  font-size: large;
  padding: 0.5em;
  flex: 1;
}

.search2{
  display:flex;
  flex-direction:column;
  height: 30px;
  font-size: large;
  padding: 0.5em;
  flex: 1;
  align-items: flex-end;
}

.btn1 {
  font-size: large;
  height: 30px;
}

.btn2 {
  font-size: large;
  height: 30px;
  border: 0.5px solid black;
}
.input{
  font-size: large;
  height: 24px;
}
.input2{
  border: 0.5px solid black;
  font-size: large;
  height: 30px;
}
.mainBtn{
  font-size: x-large;
  padding: 0.5em;
  height: 50px;
  flex: 1;
  overflow: hidden;
}
.mainBtns{
  display: flex;
  flex-flow: row nowrap;
}
